<div class="footer">
 
   <script id="trustamiwidget" type="text/javascript" src="https://cdn.trustami.com/widgetapi/widget2/trustami-widget.js" data-profile="566ab5de2b5d8563708b462e" data-user="c852cb5c994bd8b2ce2d172bb4b58692d7ab6650" data-platform="0" ></script>
 
</div>
